section.block_lvhd
	.container
		.row
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/field/s-1.png" alt="")
			.col-12.col-md-6.col-lg-6.fl
				.lvhd
					.title-lvhd
						h2 Bất động sản
					.text-lvhd
						p Là công ty hoạt động chính trong lĩnh vực đầu tư bất động sản, TVC luôn quan tâm đến việc chia sẻ cơ hội đầu tư bất động sản đến những người có đam mê và ước mơ trở thành nhà đầu Tư Bất động sản chuyên nghiệp. Chúng tôi tìm kiếm, lựa chọn, phân tích và thu mua bất động sản có diện tích lớn trong khu vực nội thành các thành phố lớn trực thuộc trung ương. Cùng với sự phối hợp của đối tác có thế mạnh trong lĩnh vực xây dựng, chúng tôi tiến hành xây dựng những dãy nhà nhỏ, đẹp có đầy đủ giấy tờ pháp lý hợp lệ và bán ra với mức giá vô cùng hữu nghị cho những nhà đầu tư đang tìm kiếm lợi nhuận từ cơ hội kinh doanh bất động sản.
					.readmore
						a Xem thêm
							span.ri-arrow-right-circle-line
		.row
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/field/s-2.png" alt="")
			.col-12.col-md-6.col-lg-6.fl
				.lvhd
					.title-lvhd
						h2 Khóa học đào tạo
					.text-lvhd 
						p Hàng năm, các chương trình đào tạo về đầu tư bất động sản, phát triển cá nhân và doanh nghiệp thường xuyên được tổ chức nhằm đạo tạo thế hệ nhà đầu tư kế tiếp và một cộng đồng đầu tư yêu thương.
					.readmore 
						a Xem thêm
							span.ri-arrow-right-circle-line
		.row
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/field/s-3.png" alt="")
			.col-12.col-md-6.col-lg-6.fl
				.lvhd
					.title-lvhd
						h2 Thiện nguyện
					.text-lvhd 
						p Đối với TVC, ngoài việc chia sẻ kiến thức và cơ hội đầu tư, chúng tôi còn chia sẻ yêu thương đến những hoàn cảnh khó khăn. Mỗi nhà đầu tư trong cộng đồng TVC đều cam kết trích một phần lợi nhuận vào quỹ thiện nguyện của TVC. Bên cạnh việc hỗ trợ khó khăn hiện tại, chúng tôi còn giúp họ phát triển ngành nghề và có một cuộc sống tốt hơn trong tương lai. 
					.readmore
						a Xem thêm
							span.ri-arrow-right-circle-line
		.modal.container
			.col-xl-12
				.close-btn.ri-close-line
				.row
					.col-xl-6.col-sm-6
						.card_img
							.img
								img(src="./img/field/s-1.png" alt="")
					.col-xl-6.col-sm-6.fl
						.lvhd
							.title-modal
								h2  Bất động sản
							.text-modal
								p Là công ty hoạt động chính trong lĩnh vực đầu tư bất động sản, TVC luôn quan tâm đến việc chia sẻ cơ hội đầu tư bất động sản đến những người có đam mê và ước mơ trở thành nhà đầu Tư Bất động sản chuyên nghiệp. Chúng tôi tìm kiếm, lựa chọn, phân tích và thu mua bất động sản có diện tích lớn trong khu vực nội thành các thành phố lớn trực thuộc trung ương. Cùng với sự phối hợp của đối tác có thế mạnh trong lĩnh vực xây dựng, chúng tôi tiến hành xây dựng những dãy nhà nhỏ, đẹp có đầy đủ giấy tờ pháp lý hợp lệ và bán ra với mức giá vô cùng hữu nghị cho những nhà đầu tư đang tìm kiếm lợi nhuận từ cơ hội kinh doanh bất động sản.
.overlay