footer
	.footer-block
		.container
			.row
				.block-title.col-xl-12
					h3 công ty tnhh tmdv thịnh vượng chung
					.footer-btn
						i.ri-pencil-fill
						a(href="") Gửi yêu cầu
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card.pr-40
					.card__title
						h4 thông tin liên hệ
					.card__body
						ul
							li
								span
									i.ri-map-pin-line
								p Địa chỉ: 37 Hoa Mai, Phường 2, Quận Phú Nhuận, TP.HCM
							li
								span
									i.ri-printer-line
								p Điện thoại: (84) 028 3517 0175
							li
								span
									i.ri-phone-line
								p Hotline: (84) 0979 247 168
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h4 email hỗ chợ
					.footer-email
						ul
							li
								span
									i.ri-mail-line
								strong Kinh doanh:
									p liên hệ.thinhvuongchung@gmail.com
							li
								span
									i.ri-mail-line
								strong Chăm sóc khách hàng:
									p thinhvuongchung17@gmail.com
							li
								span
									i.ri-mail-line
								strong Nhân sự:
									p liên hệ.thinhvuongchung@gmail.com
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h4 giới thiệu
					.card__body
						ul
							li
								a(href="") Tổng quan
							li
								a(href="") Tầm nhìn - sứ mệnh
							li
								a(href="") Lịch sử hình thành
							li
								a(href="") Đội ngũ nhân sự
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h4 lĩnh vực hoạt động
					.card__body
						ul
							li
								a(href="") Bất động sản
							li
								a(href="") Đào tạo
							li
								a(href="") Thiện nguyện
	.footer-copyright
		.container
			.row.copyright-wrapper
				.right-top
					p © 2020 Thịnh Vượng Chung. Thiết kế website bởi Cánh Cam
				.right-bottom
					ul
						li
							a(href="")
								i.ri-linkedin-fill
						li
							a(href="")
								i.ri-facebook-box-fill
						li
							a(href="")
								i.ri-instagram-line
						li
							a(href="")
								i.ri-youtube-fill