header
	.header_top
		.container
			.header
				.header_left
				.header_logo
					a(href="index.html")
						img(src="./img/logo-top.png" alt="")
				.header_right
					.search_top
						i.ri-search-line
					select
						option EN
						option VN
			.header_menu
				ul
					li
						a(href="about.html") Giới thiệu
					li
						a(href="fields-operation.html") Lĩnh vực hoạt động
					li
						a(href="develope.html") Phát triển bền vững
					li
						a(href="media.html") Truyền thông
					li
						a(href="recruitment.html") Tuyển dụng
					li
						a(href="contact.html") Liên hệ

	.header_bot
		.container
			.header
				.header_left
					.menu
						ul
							li
								a(href="about.html") Giới thiệu
							li
								a(href="fields-operation.html") Lĩnh vực hoạt động
							li
								a(href="develope.html") Phát triển bền vững
				.header_logo
					a(href="index.html")
						img(src="./img/logo.png" alt="")
				.header_right
					.menu
						ul
							li 
								a(href="media.html") Truyền thông
							li
								a(href="recruitment.html") Tuyển dụng
							li
								a(href="contact.html") Liên hệ
					.search_top
						i.ri-search-line
					select
						option EN
						option VN
					.button_menu
						i.fas.fa-bars
			.sidebar
				ul
					li
						a(href='about.html') Giới thiệu
					li
						a(href='fields-operation.html') Lĩnh vực hoạt động
					li
						a(href='develope.html') Phát triển bền vững
					li
						a(href='media.html') Truyền thông
					li
						a(href='recruitment.html') Tuyển dụng
					li
						a(href='contact.html') Liên hệ
