.block__tool.dekstop
	ul
		li
			a(href="").icon
				em.material-icons phone_enabled
			a(href="").caption
				//- p 099.999.9696
		li
			a(href="")
				em.material-icons mail
		li
			a(href="")
				em.ri-messenger-line
