section.home-banner
	.container-fuild
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						a
							img(src="./img/index/banner/banner-1.png", alt="")
					.caption
						h2.title-caption Mang lại giá trị cuộc sống hoàn hảo cho khách hàng
				.swiper-slide
					.wrapper
						a
							img(src="./img/index/banner/banner-2.png", alt="")
					.caption
						h2.title-caption Chia sẽ sự giàu có và hành phúc
				.swiper-slide
					.wrapper
						a
							img(src="./img/index/banner/banner-3.png", alt="")
					.caption
						h2.title-caption Chung tay vì một cộng đồng bền vững và nhân ái
