section.news_detail
	.container
		.row
			.col-lg-9
				.card-title
					h1 PNR ESTELLA tạo sức hút đầu tư thị trường Đồng Nai
					.bottom-wrapper-news-detail
						time 05/08/2020
						.social-network-share
							.icon
								a(href="#")
									em.fab.fa-facebook-f
								a(href="#")
									em.fab.fa-twitter
				.content_news_detail
					p Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay 
					p Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay
					p Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay
				.card_img_news_detail
					.img
						img(src="./img/media-detail/media-detail-1.png", alt="")
				.content_news_detail
					p Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay 
					p Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay
					p Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay
			.col-lg-3
				.right-news
					.card-title-right
						h2 Tin tức khác
					.card_body
						.img 
							img(src="./img/media-detail/media-1.png", alt="")
						.content_news_detail_right
							.date
								time 30/06/2020
							.title_news_right
								a.lcl.lcl-2(href="") Gương sáng - hành trình từ trái tim
					.card_body
						.img 
							img(src="./img/media-detail/media-2.png", alt="")
						.content_news_detail_right
							.date
								time 30/06/2020
							.title_news_right
								a.lcl.lcl-2(href="") PN Holding đạt mục tiêu
					.card_body
						.img 
							img(src="./img/media-detail/media-3.png", alt="")
						.content_news_detail_right
							.date
								time 30/06/2020
							.title_news_right
								a.lcl.lcl-2(href="") Gần 300 tỷ đồng xây dựng vàng
					.card_body
						.img 
							img(src="./img/media-detail/media-4.png", alt="")
						.content_news_detail_right
							.date
								time 30/06/2020
							.title_news_right
								a.lcl.lcl-2(href="") Giới đầu tư vẫn chuộng BĐS, lựa
					.card_body
						.img 
							img(src="./img/media-detail/media-5.png", alt="")
						.content_news_detail_right
							.date
								time 30/06/2020
							.title_news_right
								a.lcl.lcl-2(href="") Nghịch lý thị trường BĐS: giá