section.block_project
	.container
		.block-title
			h2 dự án nổi bậc của chúng tôi
		.text-project
			p Xác suất thành công chắc chắn trong từng dự án đầu tư
		.home-project-swiper-wrapper
			.nav-arrow-prev
				em.ri-arrow-left-circle-line
			.nav-arrow-next
				em.ri-arrow-right-circle-line
			.swiper-container.slide-project-home
				.swiper-wrapper
					.swiper-slide
						.card-body
							.img
								img(src="./img/index/project/project-2.png", alt="")
							.caption-project-slide
								.text Quận 2
					.swiper-slide
						.card-body
							.img
								img(src="./img/index/project/project-2.png", alt="")
							.caption-project-slide
								.text Quận 9
					.swiper-slide
						.card-body
							.img
								img(src="./img/index/project/project-2.png", alt="")
							.caption-project-slide
								.text Quận 12
				.btn-view-more
					a(href="") Xem tất cả
