section.block_we
	.container
		.row
			.col-lg-10
				.block-title
					h2 chúng tôi là ai
				.text-we
					p Chúng tôi là công ty hoạt độngg chính trên lĩnh vực đầu tư bất động sản với trí lính kinh doanh là "Chia sẽ sự giàu có và hạnh phúc", chúng tôi đặt việc chia sẽ làm tôn chỉ trong hành động
				.btn-view-more
					a(href="") về chúng tôi
						span.ri-arrow-right-circle-line