section.block_active-us
	.container
		.row
			.col-lg-10.big-img
				.block-title-active
					.block-title
						h2 hoạt động của chúng tôi
					.btn-view-more
						a(href="") Xem tất cả
				.card_img_big
					.img
						img(src="./img/index/active-us/active-1.png", alt="")
				.big-content-active
					.content-active
						.title-active
							h3 TVC đã có một ngày tràn ngập hành phúc khi chơi hết mình cùng các bạn nhỏ ở Mái Ấm Hoa Hồng
						.date
							time 29.07.2020
					.btn-view
						a(href="") Xem thêm
							span.ri-arrow-right-circle-line
		.row
			.col-12.col-md-6.col-lg-5.small-img
				.card_img_small
					.img
						img(src="./img/index/active-us/active-2.png", alt="")
				.small-content-active
					.content-active
						.title-active
							h3 Đón dầu thị trường hồi phục, nhà đầu tư cần quan tâm gì?
						.date
							time 29.07.2020
					.btn-view
						a(href="") Xem thêm
							span.ri-arrow-right-circle-line
			.col-12.col-md-6.col-lg-5.small-img
				.card_img_small
					.img
						img(src="./img/index/active-us/active-3.png", alt="")
				.small-content-active
					.content-active
						.title-active
							h3 Bất động sản phía đông TP.HCM tiếp tục tăng nhiệt
						.date
							time 29.07.2020
					.btn-view
						a(href="") Xem thêm
							span.ri-arrow-right-circle-line