.head-title
	h1
		font-size: 30px
		color: #fbbf33
		text-align: center
	h2
		font-size: 18px
		color: #fbbf33
		text-align: center
		text-transform: uppercase

.block-title
	h2
		font-size: 16px
		color: #111111
		text-transform: uppercase
		text-align: center
		font-weight: 800
		font-family: "AvertaStd-Black",sans-serif
		@media screen and ( max-width: 1024.98px )
			font-size: 18px
.head-menu
	display: flex
	align-items: center
	justify-content: center
	border-bottom: 1px solid #e0e0e0
	padding-top: 20px
	background: #fff
	@media screen and ( max-width:  1024.98px)
		overflow-x: auto
		justify-content: flex-start
		padding-left: 20px
		padding-right: 20px
		
	ul 
		list-style: none
		padding: 0
		display: flex
		@media screen and ( max-width:  1024.98px)
			display: flex
			justify-content: flex-start
			align-items: center
			white-space: nowrap
			
		li 
			padding-right: 30px
			padding-bottom: 20px
			a 
				font-size: 14px
				font-weight: 500
				color: #333333
				&:hover
					color: #ffffff
					background: #fbbf33
					border-radius: 50px
					padding: 9px 25px
		@media screen and ( max-width:576px)
			display: flex
			align-items: center
			justify-content: flex-start
			li 
				text-align: center

.head-title-zone
	padding-top: 30px
	display: flex
	justify-content: center
	align-items: center
	@media screen and ( max-width:  1024.98px)
		padding-top: 30px
	.head-title 
		margin-bottom: 30px
		@media screen and ( max-width:  1024.98px)
			margin-bottom: 0
			padding-top: 0
	.title
		margin-bottom: 40px
		display: flex
		justify-content: center
		align-items: center
		@media screen and ( max-width:  1024.98px)
			margin-bottom: 30px
			overflow-x: auto
			justify-content: flex-start
		ul
			list-style-type: none
			padding: 0
			margin-left: -15px
			@media screen and ( max-width:  1024.98px)
				white-space: nowrap
				display: flex 
				justify-content: flex-start
				align-items: center
				
		li
			display: inline-block
			padding-left: 15px
			+ li
				border-left: 1px solid #e0e0e0
			@media screen and ( max-width:576px)
				margin-top: 10px
			&:not(:last-child)
				margin-right: 10px
			&.active
				a
					color: #fbbf33
					// text-decoration: underline
			a
				font-weight: 600
				color: #666
				text-transform: uppercase
				&:hover
					color: #fbbf33

.link-to-section
	ul
		list-style-type: none
		padding: 0
		li
			display: inline-block
			&:not(:last-child)
				margin-right: 10px
			&.active
				a
					color: #0b6528
					text-decoration: underline
			a
				display: inline-block
				padding: 10px 0
				font-weight: 600
				color: #333333


.search-page
	padding: 70px 0
	h1
		letter-spacing: -2px
		margin-bottom: 20px
		font-size: 45px
		line-height: 55px
		font-weight: 500
		color: #333333
		@media (max-width: 992px)
			font-size: 24px
			line-height: 30px
		&.center
			text-align: center
	.btn-reindex
		display: none
	.searchcontrols
		.form-inline
			position: relative
			&:before
				position: absolute
				content: '\f349'
				font-family: "Material Design Icons"
				top: 0
				right: 10px
				z-index: 1
				font-size: 24px
				color: #4285f4
				width: 44px
				height: 44px
				display: flex
				align-items: center
				justify-content: center
		.frm-btn
			position: absolute
			top: 0
			right: 10px
			background-color: rgba(0,0,0,0)
			z-index: 2
	input[type="text"]
		width: 100%
		height: 100%
		padding-left: 20px
		padding-right: 54px
		border: 1px solid #dfe1e5
		background-color: #fff
		color: #333
		font-size: .875rem
		font-weight: 400
		height: 44px
		border-radius: 22px
		box-shadow: 0 0 0 0px rgba(0,0,0,0)
		transition: .25s cubic-bezier(.4,0,.2,1)
		outline: none
		&:focus
			box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28)
			border-color: rgba(223,225,229,0)
	input[type="submit"]
		border-radius: 2px
		user-select: none
		background-color: rgba(0,0,0,0)
		border: 0
		box-shadow: none
		cursor: pointer
		text-align: center
		display: flex
		align-items: center
		justify-content: center
		height: 40px
		outline: none
		width: 44px
		height: 44px
		border-radius: 50%
		font-size: 0
	.text-danger
		margin-top: 20px
		font-size: 15px
		color: #333
		font-style: italic
		font-weight: 600
	.searchresultsummary
		margin-bottom: 20px
	.searchresults
		margin-top: 30px
		.modulepager
			&:first-child
				display: none
	.searchresultlist
		margin-bottom: 30px
	.searchresult
		margin-bottom: 30px
		box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28)
		padding: 16px
		border-radius: 8px
		&:last-child
			margin-bottom: 0
		h3
			font-size: 18px
			line-height: 1.33
			font-weight: 400
			margin-bottom: 10px
			a
				color: #1A0DAB
				text-decoration: none
				font-weight: 500
				&:hover
					text-decoration: underline
		.searchresultdesc
			color: #545454
			line-height: 1.54
			word-wrap: break-word
			font-size: small
			font-weight: 400
			margin-bottom: 10px
		.searchterm
			color: #6a6a6a
			font-weight: bold
			font-style: normal
			line-height: 1.54
			word-wrap: break-word
			font-size: small
		hr
			display: none !important
.search-toggle
	position: relative
	display: flex
	justify-content: center
	align-items: center
	width: 32px
	height: 32px
	background: none
	transition: .3s all ease-in-out
	border: 1px solid transparent
	&:hover
		background: white

		

		// display: none
.searchbox
	position: absolute
	display: block
	justify-content: center
	align-items: center
	position: relative
	bottom: 0
	z-index: 51

	@media screen and ( max-width: 1024px)
		width: 300px
		
	&.active
		input,button
			opacity: 1
			pointer-events: auto
			z-index: 1
		input
			cursor: auto
		button
			cursor: pointer
	input
		border: 1px solid #f1f1f1
		padding: 0 16px
		position: absolute
		top: 0
		height: 31px
		right: 0
		opacity: 0
		cursor: none
		pointer-events: none
		z-index: -1
		transition: opacity .3s ease-in-out
		font-size: 16px
		color: #333333
		&:focus
			outline: none
		&:placeholder
			font-size: 14px
	button
		color: #ffffff
		width: 32px
		height: 30px
		opacity: 0
		cursor: none
		border: none
		pointer-events: none
		z-index: -1
		position: absolute
		top: 0
		background: #c80916
		right: 0
		transition: opacity .3s ease-in-out
		em
			color: #ffffff
			transition: .3s all  ease-in-out
		&:focus
			outline: none
		&:hover
			background: white
			em
				color: #c80916
	@media screen and ( max-width:1024px)
		input,button
			opacity: 1
			pointer-events: auto
			z-index: 1
		input
			cursor: auto
			width: 100%
		button
			cursor: pointer

.search-wrapper
	.search-toggle
		@apply flex items-center justify-center uppercase  text-12 ml-2 transition 
		width: 32px
		height: 32px
		@media (min-width: 1024.98px)
			&:hover
				@apply bg-primary
				em
					@apply text-white
		@media screen and ( max-width: 1024px)
			display: none
			
		em
			@apply inline-block  text-primary  transition
			font-size: 20px
			transition: .3s all ease-in-out