section.block_develope
	.container
		.row
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/develope/d-1.png" alt="")
			.col-12.col-md-6.col-lg-6
				.develope
					.title-develope
						h2 Thông điệp từ Thịnh Vượng chung
					.text-develope
						ul
							li
								p Với thiết kế kinh doanh "Chia sẽ sự giàu có và hành phúc", TVC đặt việc chia làm tôn chí trong hành động và là sứ mệnh của chúng tôi
							li
								p Bên cạnh chia sẽ cơ hội đầu tư bằng việc bán sản phẩm đã hoàn thành, có giấy tờ hợp pháp lý rõ ràng, đáng tin cậy, chúng tôi còn chia sẽ kiến thức về đầu tư bất động sản. Hơn thế nữa, chúng tôi là một cộng đồng chia sẽ yêu thương chính trực, chân thành.
					.btn-view-more
						a(href="") Xem thêm
							span.ri-arrow-right-circle-line
		.row
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/develope/d-2.png" alt="")
			.col-12.col-md-6.col-lg-6
				.develope
					.title-develope
						h2 Văn hóa doanh nghiệp
					.text-develope
						ul
							li
								p Với thiết kế kinh doanh "Chia sẽ sự giàu có và hành phúc", TVC đặt việc chia làm tôn chí trong hành động và là sứ mệnh của chúng tôi
							li
								p Bên cạnh chia sẽ cơ hội đầu tư bằng việc bán sản phẩm đã hoàn thành, có giấy tờ hợp pháp lý rõ ràng, đáng tin cậy, chúng tôi còn chia sẽ kiến thức về đầu tư bất động sản. Hơn thế nữa, chúng tôi là một cộng đồng chia sẽ yêu thương chính trực, chân thành.
					.btn-view-more
						a(href="") Xem thêm
							span.ri-arrow-right-circle-line
		.row
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/develope/d-3.png" alt="")
			.col-12.col-md-6.col-lg-6
				.develope
					.title-develope
						h2 Chiến lược phát triển
					.text-develope
						ul
							li
								p Với thiết kế kinh doanh "Chia sẽ sự giàu có và hành phúc", TVC đặt việc chia làm tôn chí trong hành động và là sứ mệnh của chúng tôi
							li
								p Bên cạnh chia sẽ cơ hội đầu tư bằng việc bán sản phẩm đã hoàn thành, có giấy tờ hợp pháp lý rõ ràng, đáng tin cậy, chúng tôi còn chia sẽ kiến thức về đầu tư bất động sản. Hơn thế nữa, chúng tôi là một cộng đồng chia sẽ yêu thương chính trực, chân thành.
					.btn-view-more
						a(href="") Xem thêm
							span.ri-arrow-right-circle-line

section.block_develope-2
	.container
		.head-title
			h1 Hoạt động cộng đồng
		.row
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/develope/deve-active-1.png", alt="")
				.content-deve
					.title-deve
						h3 Bất động sản phía đông TP.HCM tiếp tục tăng nhiệt
					.item-develope
						.date
							time 29.07.2020
						.btn-view
							a(href="") Xem thêm
								span.ri-arrow-right-circle-line
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/develope/deve-active-2.png", alt="")
				.content-deve
					.title-deve
						h3 Bất động sản phía đông TP.HCM tiếp tục tăng nhiệt
					.item-develope
						.date
							time 29.07.2020
						.btn-view
							a(href="") Xem thêm
								span.ri-arrow-right-circle-line
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/develope/deve-active-3.png", alt="")
				.content-deve
					.title-deve
						h3 Bất động sản phía đông TP.HCM tiếp tục tăng nhiệt
					.item-develope
						.date
							time 29.07.2020
						.btn-view
							a(href="") Xem thêm
								span.ri-arrow-right-circle-line
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/develope/deve-active-4.png", alt="")
				.content-deve
					.title-deve
						h3 Bất động sản phía đông TP.HCM tiếp tục tăng nhiệt
					.item-develope
						.date
							time 29.07.2020
						.btn-view
							a(href="") Xem thêm
								span.ri-arrow-right-circle-line
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/develope/deve-active-5.png", alt="")
				.content-deve
					.title-deve
						h3 Bất động sản phía đông TP.HCM tiếp tục tăng nhiệt
					.item-develope
						.date
							time 29.07.2020
						.btn-view
							a(href="") Xem thêm
								span.ri-arrow-right-circle-line
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/develope/deve-active-6.png", alt="")
				.content-deve
					.title-deve
						h3 Bất động sản phía đông TP.HCM tiếp tục tăng nhiệt
					.item-develope
						.date
							time 29.07.2020
						.btn-view
							a(href="") Xem thêm
								span.ri-arrow-right-circle-line

section.block_develope-slide
	.container
		.head-title
			h1 Thành tựu đạt được
		.row
			.col-lg-6
			.col-lg-6
				.development-swiper-wrapper
					.nav-arrow-prev
						em.lnr.lnr-chevron-left
					.nav-arrow-next
						em.lnr.lnr-chevron-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.wrapper
								.card_img 
									.img 
										img(src="./img/develope/development-brand-1.png", alt="")
							.caption 
								p Doanh nghiệp của năm 2019
						.swiper-slide
							.card_img 
								.img 
									img(src="./img/develope/development-brand-2.png", alt="")
							.caption 
								p Khởi nghiệp thành công