section.block_about#section-about-1
	.container
		.head-menu
			ul.link-to-about-section
				li 
					a(href="#section-about-1") Tổng quan
				li 
					a(href="#about3_history") Lịch sử phát triển
				li 
					a(href="#section-about-2") Tầm nhìn - Sứ mệnh
				li 
					a(href="#section-about-3") Giá trị cốt lỗi
				li 
					a(href="#section-about-4") Đội ngũ phát triển
		.row
			.col-lg-6
				.head-title
					h1 Tổng quan
				.content-about
					p Đắt nước Việt Nam chúng ta đang vương mình mạnh mẽ! Hội nhập sâu rộng trong khu vực vĐắt nước Việt Nam chúng ta đang vương mình mạnh mẽ! Hội nhập sâu rộng trong khu vực vĐắt nước Việt Nam chúng ta đang vương mình mạnh mẽ! Hội nhập sâu rộng trong khu vực v
					p Đắt nước Việt Nam chúng ta đang vương mình mạnh mẽ! Hội nhập sâu rộng trong khu vực vĐắt nước Việt Nam chúng ta đang vương mình mạnh mẽ! Hội nhập sâu rộng trong khu vực vĐắt nước Việt Nam chúng ta đang vương mình mạnh mẽ! Hội nhập sâu rộng trong khu vực vĐắt nước Việt Nam chúng ta đang vương mình mạnh mẽ! Hội nhập sâu rộng trong khu vực vĐắt nước Việt Nam chúng ta đang vương mình mạnh mẽ! Hội nhập sâu rộng trong khu vực v
				.btn-view-more
					a(href="") Xem tất cả
			.col-lg-6
				.card_img
					.img
						img(src="./img/about/about-1.png", alt="")
	.block_about_icon
		.container
			.row
				.col-6.col-md-3.col-lg-3
					.card_img_icon
						.ing
							img(src="./img/about/icon-about-1.png", alt="")
					.content-about-icon
						p nhà phát triển đầu tư uy tín
				.col-6.col-md-3.col-lg-3
					.card_img_icon
						.ing
							img(src="./img/about/icon-about-2.png", alt="")
					.content-about-icon
						p đội ngũ nhân sự giàu kinh nghiệm
				.col-6.col-md-3.col-lg-3
					.card_img_icon
						.ing
							img(src="./img/about/icon-about-3.png", alt="")
					.content-about-icon
						p môi trường làm việc chuyên nghiệp
				.col-6.col-md-3.col-lg-3
					.card_img_icon
						.ing
							img(src="./img/about/icon-about-4.png", alt="")
					.content-about-icon
						p với 40 công ty liên kết trên khắp cả nước

section.about3_history#about3_history
	.container
		.card_history
			h3 Lịch sử phát triển
		.swiper-container.gallery-thumbs
			.swiper-wrapper
				.swiper-slide
					.item-about-history
						.swiper-slide-container 2017
				.swiper-slide
					.item-about-history
						.swiper-slide-container 2018
				.swiper-slide
					.item-about-history
						.swiper-slide-container 2019
				.swiper-slide
					.item-about-history
						.swiper-slide-container 2020
		.swiper-container.gallery-top
			.swiper-wrapper
				.swiper-slide
					.item-about-history
						.history_img
							.card_img
								.img
									img(src="./img/about/history-about.png", alt="")
							.content_history
								p 2017
								p Thịnh Vương Chung chính thức được cấp phép hoạt động
				.swiper-slide
					.item-about-history
						.history_img
							.card_img
								.img
									img(src="./img/about/history-about.png", alt="")
							.content_history
								p 2018
								p Thịnh Vương Chung chính thức được cấp phép hoạt động
				.swiper-slide
					.item-about-history
						.history_img
							.card_img
								.img
									img(src="./img/about/history-about.png", alt="")
							.content_history
								p 2019
								p Thịnh Vương Chung chính thức được cấp phép hoạt động
				.swiper-slide
					.item-about-history
						.history_img
							.card_img
								.img
									img(src="./img/about/history-about.png", alt="")
							.content_history
								p 2020
								p Thịnh Vương Chung chính thức được cấp phép hoạt động


section.block_about-2#section-about-2
	.container
		.row
			.col-12.col-md-6.col-lg-6
				.about-2
					.head-title
						h1 Tầm nhìn sứ mệnh
					.content-about-2
						ul
							li
								strong Sứ mệnh:
								p Chia sẽ giàu có và hạnh phúc
							li
								strong Tầm nhìn:
								p Trở thành công ty quản lý quỹ đầu tư chuyên nghiệp chuẩn quốc tế vào năm 2015
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/about/about-vm-1.png", alt="")

section.block_about-3#section-about-3
	.container
		.head-title
			h1 Giá trị cốt lõi
		.row
			.col-6.col-md-3.col-lg-3
				.about-3
					.card_img
						.img
							img(src="./img/about/icon4-about-3.png", alt="")
					.content-about-3
						.title-about-3
							h2 con người phù hợp
						.title-zone-about-3
							p Nhân sự phù hợp là sản quý nhất của Thịnh Vương Chung
			.col-6.col-md-3.col-lg-3
				.about-3
					.card_img
						.img
							img(src="./img/about/icon2-about-3.png", alt="")
					.content-about-3
						.title-about-3
							h2 công nghệ
						.title-zone-about-3
							p Tiên phong ứng dụng công nghệ tiên tiến vào việc đầu tư và chia sẽ cơ hội đầu tư bất động sản
			.col-6.col-md-3.col-lg-3
				.about-3
					.card_img
						.img
							img(src="./img/about/icon3-about-3.png", alt="")
					.content-about-3
						.title-about-3
							h2 kỹ luật
						.title-zone-about-3
							p Tôn trọng kỷ luật tạo nên giá trị và thành quả tối ưu cho tập thể.
			.col-6.col-md-3.col-lg-3
				.about-3
					.card_img
						.img
							img(src="./img/about/icon1-about-3.png", alt="")
					.content-about-3
						.title-about-3
							h2 chia sẽ
						.title-zone-about-3
							p Chia sẽ là cam kết - trách nhiệm của Thịnh Vượng Chung với Khách Hàng - Cổ Đông - Cộng Đồng.

section.block_about-4#section-about-4
	.container
		.head-title
			h1 Đội ngũ nhân sự
		.row
			.col-lg-10
				.card_img_sodo
					.img
						img(src="./img/about/sodo.png", alt="")
