extends _layout.pug

block var
	- var title = 'Phát triển'
	- var bodyClass = 'develope-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/develope/index.pug