extends _layout.pug

block var
	- var title = 'Lĩnh vực hoạt động'
	- var bodyClass = 'fields-operation-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/fields-operation/index.pug