extends _layout.pug

block var
	- var title = 'Truyền tbông chi tiết'
	- var bodyClass = 'media-detail-page'

block main
	include ../components/breadcrumb/index.pug
	include ../components/media/media-detail/index.pug