extends _layout.pug

block var
	- var title = 'Truyền tbông'
	- var bodyClass = 'media-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/media/index.pug
	include ../components/pagination/index.pug