extends _layout.pug

block var
	- var title = 'Tuyển dụng'
	- var bodyClass = 'recruitment-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/recruitment/index.pug
	include ../components/pagination/index.pug
