section.block_especially-us
	.container
		.block-title
			h2 điểm đặc biệt của chúng tôi
		.text-especially
			p Tiên phong trong việc ứng dụng công nghệ A.I. trong đầu tư bất động sản
		.row
			.col-6.col-md-6.col-lg-3
				.card-img.percent-25
					.img.dot
						img(src="./img/index/especially-us/icon-1.png", alt="")
					.content-especially
						.title-especially
							h3 Ứng dụng công nghệ A.I(trí tuệ thông minh nhân tạo) để thu nhập big data
			.col-6.col-md-6.col-lg-3
				.card-img.percent-50
					.img.dot
						img(src="./img/index/especially-us/icon-2.png", alt="")
					.content-especially
						.title-especially
							h3 Phân tích và tìm kiếm bất động sản tiềm năng
			.col-6.col-md-6.col-lg-3
				.card-img.percent-75
					.img.dot
						img(src="./img/index/especially-us/icon-3.png", alt="")
					.content-especially
						.title-especially
							h3 Phát triển bất động sản để tạo ra giá trị mới
			.col-6.col-md-6.col-lg-3
				.card-img.percent-100
					.img.dot
						img(src="./img/index/especially-us/icon-4.png", alt="")
					.content-especially
						.title-especially
							h3 Chia sẽ cơ hội đầu tư đến đối tác
						.title-especially