section.block_we-2
	.container-custom
		.container
			.block-title
				h2 chúng tôi làm gì
			.text-we-2
				p Để thực hiện được sứ mệnh của mình chúng tôi hoạt động trong 3 lĩnh vực
		.row
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/index/we-2/we-1.png", alt="")
					.content-we-2
						.title-we-2
							a(href="") Chia sẽ cơ hội đầu tư Bất Động Sản
						.title-zone-we-2
							p Chuyên thu mua nhà đất trong khu vực nội thành các thành phố lớn, phát triển hạ tầng và xây dựng BĐS bán cho nhà đầu tư F1
			.col-12.col-md-3.col-lg-3
				.card_img
					.img
						img(src="./img/index/we-2/we-2.png", alt="")
					.content-we-2
						.title-we-2
							a(href="") Chia sẽ kiến thức đầu tư Bất Động Sản
						//- .title-zone-we-2
						//- 	p Chuyên thu mua nhà đất trong khu vực nội thành các thành phố lớn, phát triển hạ tầng và xây dựng BĐS bán cho nhà đầu tư F1
			.col-12.col-md-3.col-lg-3
				.card_img
					.img
						img(src="./img/index/we-2/we-3.png", alt="")
					.content-we-2
						.title-we-2
							a(href="") Chia sẽ cơ hội đầu tư Bất Động Sản
						//- .title-zone-we-2
						//- 	p Chuyên thu mua nhà đất trong khu vực nội thành các thành phố lớn, phát triển hạ tầng và xây dựng BĐS bán cho nhà đầu tư F1