section.hr_tvc
	.container
		.head-title
			h1 Tuyển dụng
		.row
			.col-lg-6.hr
				.card_img_hr
					.img.shine
						img(src="./img/recruitment/hr-1.png", alt="")
			.col-lg-6.hr
				.content_hr
					.card_title_hr
						h3 Môi trường làm việc
					.text_hr
						p Trong ngồi nhà Tân Thịnh, văn hóa doanh nghiệp được xác lập dựa trên sức mạnh tập thể, từ đó làm cơ sở để phát huy tốt nhất những đóng góp quý báu, sáng tạo, đầy tận tâm của tất cả mọi người vì lợi ích chung của doanh nghiệp. Công ty luôn tạo ra môi trường làm việc thân thiện, năng động, khuyên khích và trân trọng những ý kiến đóng góp cũng như sáng tạo của nhân viên. Đến với Tân Thịnh, mỗi cá nhân đều có cơ hội giao lưu học hỏi, tạo nền tảng kiến thức vững vàng giúp bạn khẳng định được bản thân và đạt được mục tiêu nghề nghiệp

section.hr_2
	.container
		.head-title
			h2 chế độ đãi ngộ
		.row
			.col-6.col-md-6.col-lg-3
				.education
					.card_img
						.img
							img(src="./img/recruitment/icon-hr-1.png", alt="")
					.education_content
						ul
							li
								strong Lương, Thưởng
								p Mức thu nhập cao, thưởng các khoản phụ cấp hẫn khác cùng chế độ đãi ngộ dành cho nhân viên là một trong những phúc lợi thế khi làm việc tại Vivahome
			.col-6.col-md-6.col-lg-3
				.education
					.card_img
						.img
							img(src="./img/recruitment/icon-hr-2.png", alt="")
					.education_content
						ul
							li
								strong Đào Tạo
								p Mức thu nhập cao, thưởng các khoản phụ cấp hẫn khác cùng chế độ đãi ngộ dành cho nhân viên là một trong những phúc lợi thế khi làm việc tại Vivahome
			.col-6.col-md-6.col-lg-3
				.education
					.card_img
						.img
							img(src="./img/recruitment/icon-hr-3.png", alt="")
					.education_content
						ul
							li
								strong Bảo Hiểm
								p Mức thu nhập cao, thưởng các khoản phụ cấp hẫn khác cùng chế độ đãi ngộ dành cho nhân viên là một trong những phúc lợi thế khi làm việc tại Vivahome
			.col-6.col-md-6.col-lg-3
				.education
					.card_img
						.img
							img(src="./img/recruitment/icon-hr-4.png", alt="")
					.education_content
						ul
							li
								strong Du Lịch
								p Mức thu nhập cao, thưởng các khoản phụ cấp hẫn khác cùng chế độ đãi ngộ dành cho nhân viên là một trong những phúc lợi thế khi làm việc tại Vivahome


section.hr_3
	.container
		.head-title
			h2 vị trí tuyển dụng
		.row
			.col-lg-12
				.card-body
					table.table.table-striped
						thead
							tr
								th(scope='col') STT
								|
								th(scope='col') Vị trí tuyển dụng 
								|
								th(scope='col') Số lượng
								|
								th(scope='col') Khu vực
								|
								th(scope='col') Thời hạn
							|
						
						tbody
							tr
								td 1
								|
								td 
									a(href="recruitment-detail.html") Nhân viên kỹ thuật dịch vụ
								|
								td 01
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 2
								|
								td 
									a(href="recruitment-detail.html") Nhân viên thu mua
								|
								td 02
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 3
								|
								td 
									a(href="recruitment-detail.html") Trưởng phòng marketing
								|
								td 07
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 4
								|
								td 
									a(href="recruitment-detail.html") Kế toán viên
								|
								td 01
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 5
								|
								td 
									a(href="recruitment-detail.html") Lập trình viên
								|
								td 05
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 6
								|
								td 
									a(href="recruitment-detail.html") Hành chính văn phòng
								|
								td 10
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 7
								|
								td 
									a(href="recruitment-detail.html") Trưởng phòng kinh doanh
								|
								td 01
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 8
								|
								td 
									a(href="recruitment-detail.html") Nhân viên kỹ thuật dịch vụ
								|
								td 01
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 9
								|
								td 
									a(href="recruitment-detail.html") Nhân viên thu mua
								|
								td 02
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 10
								|
								td 
									a(href="recruitment-detail.html") Trưởng phòng marketing
								|
								td 02
								|
								td TP.HCM
								|
								td 30/03/2020