section.block_media
	.container
		.head-title 
			h1 Truyền thông
		.head-title-zone
			.title
				ul
					li
						a(href="") TIN CÔNG TY
					li 
						a(href="") TIN THỊ TRƯỜNG
					li 
						a(href="") GÓC BÁO CHÍ
					li 
						a(href="") E-BROCHURE
					li 
						a(href="") THƯ VIỆN ẢNH
					li 
						a(href="") VIDEO
		.row
			.col-12.col-md-6.col-lg-4
				.item-media
					.card_img
						.img
							img(src="./img/media/media-1.png", alt="")
						.text_media
							.text new
					.content-media
						.date
							time 05/08/2020
						.card_title_media
							a(href="") pn estella tạo sức hút nhà đầu tư thị trường đồng nai
						.card_title_zone_media
							p Trong những năm vừa qua thị trường bất động sản phía đông Thành Phố Hồ Chí Minh
						.icon
							em.material-icons arrow_right_alt
			.col-12.col-md-6.col-lg-4
				.item-media
					.card_img
						.img
							img(src="./img/media/media-2.png", alt="")
						.text_media
							.text new
					.content-media
						.date
							time 05/08/2020
						.card_title_media
							a(href="") pn estella tạo sức hút nhà đầu tư thị trường đồng nai
						.card_title_zone_media
							p Trong những năm vừa qua thị trường bất động sản phía đông Thành Phố Hồ Chí Minh
						.icon
							em.material-icons arrow_right_alt
			.col-12.col-md-6.col-lg-4
				.item-media
					.card_img
						.img
							img(src="./img/media/media-3.png", alt="")
						.text_media
							.text new
					.content-media
						.date
							time 05/08/2020
						.card_title_media
							a(href="") pn estella tạo sức hút nhà đầu tư thị trường đồng nai
						.card_title_zone_media
							p Trong những năm vừa qua thị trường bất động sản phía đông Thành Phố Hồ Chí Minh
						.icon
							em.material-icons arrow_right_alt
			.col-12.col-md-6.col-lg-4
				.item-media
					.card_img
						.img
							img(src="./img/media/media-4.png", alt="")
						.text_media
							.text new
					.content-media
						.date
							time 05/08/2020
						.card_title_media
							a(href="") pn estella tạo sức hút nhà đầu tư thị trường đồng nai
						.card_title_zone_media
							p Trong những năm vừa qua thị trường bất động sản phía đông Thành Phố Hồ Chí Minh
						.icon
							em.material-icons arrow_right_alt
			.col-12.col-md-6.col-lg-4
				.item-media
					.card_img
						.img
							img(src="./img/media/media-5.png", alt="")
						.text_media
							.text new
					.content-media
						.date
							time 05/08/2020
						.card_title_media
							a(href="") pn estella tạo sức hút nhà đầu tư thị trường đồng nai
						.card_title_zone_media
							p Trong những năm vừa qua thị trường bất động sản phía đông Thành Phố Hồ Chí Minh
						.icon
							em.material-icons arrow_right_alt
			.col-12.col-md-6.col-lg-4
				.item-media
					.card_img
						.img
							img(src="./img/media/media-6.png", alt="")
						.text_media
							.text new
					.content-media
						.date
							time 05/08/2020
						.card_title_media
							a(href="") pn estella tạo sức hút nhà đầu tư thị trường đồng nai
						.card_title_zone_media
							p Trong những năm vừa qua thị trường bất động sản phía đông Thành Phố Hồ Chí Minh
						.icon
							em.material-icons arrow_right_alt