section.block_choose-us
	.container
		.row
			.col-12.col-md-3.col-lg-4
			.col-12.col-md-9.col-lg-8
				.why-choose-us
					.card_img
						.img
							img(src="./img/index/choose-us/us-1.png", alt="")
					.block-title
						h2 tại sao chọn chúng tôi
						.text-choose
							p Chúng tôi bán sản phẩm đã hình thành, có giấy tờ pháp lý rõ ràng, đáng tin cậy. Một cộng đồng chia sẽ yêu thương, chính trực, chung thành.
						.btn-view-more
							a(href="") khám phá thêm
								span.ri-arrow-right-circle-line
