section.hr-detail
	.container
		.row
			.col-lg-9
				.card_title_hr_detail
					h1 Chuyên viên về Marketing Online
					.bottom-wrapper-news-detail
						time 30/6/2020
						.social-network-share
							.icon
								a(href="#")
									em.fab.fa-facebook-f
								a(href="#")
									em.fab.fa-twitter
				.card_body_hr_detail
					table.table.table-striped
						tbody
							tr
								th(scope='row') Khu vực
								|
								td :Thành Phố TP.HCM
							|
							tr
								th(scope='row') Hình thức
								|
								td :Toàn thời gian cố định
							|
							tr
								th(scope='row') Giới tính
								|
								td :Nam/Nữ
							|
							tr
								th(scope='row') Trình độ
								|
								td :Tốt nghiệp cao đẵng
							|
							tr
								th(scope='row') Mức lương
								|
								td :15.000.000 - 20.000.000 vnđ
							|
							tr
								th(scope='row') Số lượng
								|
								td :01
							|
							tr
								th(scope='row') Hạn nộp
								|
								td :30/06/2020

				//- MÔ TẢ CÔNG VIỆC
				.hr_list_content
					.hr-detail_content
						em.ri-ball-pen-fill
						h3 MÔ TẢ CÔNG VIỆC
					.text
						ul
							li 
								p Lương 15-20 triệu
							li 
								p Tăng lương định kỳ và đột xuất hàng năm
							li 
								p Thưởng theo hiệu quả kinh doanh nhận hoa hồng theo quý
							li 
								p Lương tháng 13 + thưởng theo năng lực 
							li 
								p Được tham gia đầy đủ các chế độ BHXH, BHYT, BHTN,...
							li 
								p Du lịch trong và ngoài nước 
							li 
								p Tham gia các chương trình hội thao, teambuilding... 
							li 
								p Được đào tạo nâng cao các kỹ năng 
							li 
								p Nhiều cơ hội thăng tiến

					//- Các chi tiêu
					.hr-detail_content
						em.ri-article-fill
						h3 CÁC CHỈ TIÊU THỰC HIỆN CÔNG VIỆC
					.text
						ul
							li 
								p Lên kế hoạc truyền thông hiệu quả, góp phần tăng doanh số cho các chương trình khuyến mãi và tạo hình ảnh đẹp cho công ty
							li 
								p Tạo được tốt với các phóng viên báo/đài
							li 
								p Đảm bảo việc hạn chế tối đa sai sót trong công việc
							li 
								p Hoàn tất cả việc được giao, dẳm bảo đúng tiến độ và hiệu quả cao.
							li 
								p Mức lương hài lòng với đối tác, đồng nghiệp, lãnh đạo,...
							li 
								p Chủ động, tự giác trong việc thực hiện nhiệm vụ được giao.

					//- YÊU CẦU
					.hr-detail_content
						em.ri-nurse-fill
						h3 YÊU CẦU VỀ TÍNH CHẤT/PHẨM CHẤT
					.text
						ul
							li 
								p Tốt nghiệp đại học chuyên ngành XDDD
							li 
								p Kinh nghiệp 5 năm
							li 
								p Thành thạo vi tính văn phòng, các phần mềm chuyên ngành
					//- YÊU CẦU HỒ SƠ
					.hr-detail_content
						em.ri-heart-pulse-fill
						h3 QUYỀN LỢI
					.text
						ul
							li 
								p Được hưởng các chính sách phụ cấp
							li 
								p Được ký HĐLĐ và hưởng các chính sách HĐLĐ
					.hr-detail_content
						em.ri-article-fill
						h3 HỒ SƠ XIN VIỆC GỒM
					.text
						ul
							li 
								p Đơn xin việc
							li 
								p Sơ yếu lý lịch
							li 
								p Hộ khẩu CMND và giấy khám sức khỏe
							li 
								p Các giấy tờ liên qua. (Sao y công chứng)
							li 
								p Các bằng cấp có liên quan
						.caption_hr_detail
							p
								strong Nộp hồ sơ trực tiếp
								span : Tại địa chỉ VPGD - 133 Đặng Văn Bi, Phường Bình Thọ, Quận Thủ Đức, TP.HCM
							p
								strong Qua email
								span : tuyendung@pnrholding.vn
							p
								strong Hạn nộp hồ sơ
								span : 23/06/2020 - 30/07/2020
							p
								strong Địa chỉ
								span : 133 Đặng Văn Bi, Phường Bình Thọ, Quận Thủ Đức, TP.HCM
							p
								strong Hotline
								span : 1900 7285
							p
								strong Email
								span : pnrholding.info@gmail.com

			.col-lg-3
				.form_apply_hr_detail
					.apply-form
						.btn.button-apply
							a(href="") Ứng tuyển ngay
						.btn.button-download
							a(href="") Tải form ứng tuyển
				.right-hr-detail
					.card-title-right
						h3 Vị trí khác
					.content_hr_detail_right
						.hr_detail_right_list
							ul
								li
									.title_hr_detail_right
										a(href="") Chuyên viên kinh doanh
									.date
										time 30/06/2020
								li
									.title_hr_detail_right
										a(href="") Trưởng phòng kinh doanh
									.date
										time 30/06/2020
								li
									.title_hr_detail_right
										a(href="") Trưởng phòng CNTT
									.date
										time 30/06/2020
								li
									.title_hr_detail_right
										a(href="") Chuyên viên kế toán
									.date
										time 30/06/2020
								li
									.title_hr_detail_right
										a(href="") NV thiết kế quy hoạch
									.date
										time 30/06/2020